@media (max-width: 1140px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 1200px) {
    #footer {
        width: 100%;
    }

}

@media (max-width: 1024px) {
    .icon a {
        font-size: 18px;
    }

    .hero img {
    !important;
    }
}

@media (max-width: 992px) {
    .hero-tittle button {
        margin: 20px 0;
    }
}

@media (max-width: 768px) {
    .header-logo {
        display: none;

    }

    .icon a {
        font-size: 12px;
    }

    .hero-tittle h1 {
        font-size: 24px;
    }

    .hero-tittle p {
        font-size: 20px;
    }

    .hero-tittle button {
        width: 112px;
        height: 36px;
        font-size: 16px;
    }

    .hero img {
        width: 462px;
        height: 281px;
    }

    .hero-three{
        flex-wrap: wrap;
    }
    .hero-three-two{
        padding-left: 30px;
    }

}

@media (max-width: 576px) {
    .hero-tittle h1 {
        font-size: 20px;
    }

    .hero-tittle p {
        font-size: 16px;
    }

    .hero-tittle button {
        width: 109px;
        height: 32px;
        font-size: 12px;
    }

    .hero img {
        width: 362px;
        height: 181px;
    }

    .hero-one img {
        width: 362px;
        height: 261px;
    }

    .hero-one-tittle h1 {
        font-size: 20px;
    }

    .hero-one-tittle p {
        font-size: 16px;
    }

    .hero-two h1 {
        font-size: 24px;

    }

    .hero-two-one img {
        width: 70px;
        height: 70px;
    }

    .hero-two-one h2 {
        font-size: 20px;
    }

    .hero-two-one p {
        font-size: 16px;
    }

    .hero-three-one img {
        width: 70px;
        height: 70px;
    }

    .hero-three-one h3 {
        font-size: 20px;
    }

    .hero-three-one p {
        font-size: 16px;
    }

    .hero-three-two h2 {
        font-size: 20px;
    }

    .hero-three-two p {
        font-size: 16px;
    }
}

@media (max-width: 451px) {
    .hero-tittle h1 {
        font-size: 16px;
    }

    .hero-tittle p {
        font-size: 12px;
    }

    .hero-tittle button {
        width: 99px;
        height: 22px;
        font-size: 10px;
    }

    .hero img {
        width: 302px;
        height: 121px;
    }

    .hero-one img {
        width: 262px;
        height: 161px;
    }

    .hero-one-tittle h1 {
        font-size: 16px;
    }

    .hero-one-tittle p {
        font-size: 12px;
    }

    .hero-two h1 {
        font-size: 20px;

    }

    .hero-two-one img {
        width: 50px;
        height: 50px;
    }

    .hero-two-one h2 {
        font-size: 16px;
    }

    .hero-two-one p {
        font-size: 12px;
    }

    .hero-three-one img {
        width: 50px;
        height: 50px;
    }

    .hero-three-one h3 {
        font-size: 16px;
    }

    .hero-three-one p {
        font-size: 12px;
    }

    .hero-three-two h2 {
        font-size: 16px;
    }

    .hero-three-two p {
        font-size: 14px;
    }

    .footer h1 {
        font-size: 10px !important;
    }
}

@media (max-width: 400px) {
    .hero-tittle h1 {
        font-size: 16px;
    }

    .hero-tittle p {
        font-size: 12px;
    }

    .hero-tittle button {
        width: 98px;
        height: 26px;
        font-size: 12px;
    }

    .hero img {
        width: 280px;
        height: 200px;
    }

    .hero-one img {
        width: 272px;
        height: 201px;
    }

    .hero-one-tittle h1 {
        font-size: 16px;
    }

    .hero-one-tittle p {
        font-size: 12px;
    }

    .hero-two h1 {
        font-size: 20px;

    }

    .hero-two-one img {
        width: 50px;
        height: 30px;
    }

    .hero-two-one h2 {
        font-size: 16px;
    }

    .hero-two-one p {
        font-size: 12px;
    }

    .hero-three-one img {
        width: 80px;
        height: 80px;
    }

    .hero-two-one button {
        width: 88px;
        height: 26px;
        font-size: 12px;
    }

    .hero-three-one h3 {
        font-size: 12px;
    }

    .hero-three-one p {
        font-size: 8px;
    }

    .hero-three-two h2 {
        font-size: 12px;
    }

    .hero-three-two p {
        font-size: 10px;
    }

    .hero-three {
        display: flex;
        flex-wrap: wrap;
    }

    .footer h1 {
        font-size: 10px !important;
    }
}

@media (max-width: 376px) {
    .hero-tittle h1 {
        font-size: 16px;
    }

    .hero-tittle p {
        font-size: 12px;
    }

    .hero-tittle button {
        width: 98px;
        height: 26px;
        font-size: 12px;
    }

    .hero img {
        width: 280px;
        height: 200px;
    }

    .hero-one img {
        width: 272px;
        height: 201px;
    }

    .hero-one-tittle h1 {
        font-size: 16px;
    }

    .hero-one-tittle p {
        font-size: 12px;
    }

    .hero-two h1 {
        font-size: 20px;

    }

    .hero-two-one img {
        width: 50px;
        height: 30px;
    }

    .hero-two-one h2 {
        font-size: 16px;
    }

    .hero-two-one p {
        font-size: 12px;
    }

    .hero-three-one img {
        width: 80px;
        height: 80px;
    }

    .hero-two-one button {
        width: 88px;
        height: 26px;
        font-size: 12px;
    }

    .hero-three-one h3 {
        font-size: 12px;
    }

    .hero-three-one p {
        font-size: 8px;
    }

    .hero-three-two h2 {
        font-size: 12px;
    }

    .hero-three-two p {
        font-size: 10px;
    }

    .hero-three {
        display: flex;
        flex-wrap: wrap;
    }

    .footer h1 {
        font-size: 10px !important;
    }
}

@media (max-width: 320px) {
    .hero-tittle h1 {
        font-size: 16px;
    }

    .hero-tittle p {
        font-size: 12px;
    }

    .hero-tittle button {
        width: 98px;
        height: 26px;
        font-size: 12px;
    }

    .hero img {
        width: 280px;
        height: 200px;
    }

    .hero-one img {
        width: 272px;
        height: 201px;
    }

    .hero-one-tittle h1 {
        font-size: 16px;
    }

    .hero-one-tittle p {
        font-size: 12px;
    }

    .hero-two h1 {
        font-size: 20px;

    }

    .hero-two-one img {
        width: 50px;
        height: 30px;
    }

    .hero-two-one h2 {
        font-size: 16px;
    }

    .hero-two-one p {
        font-size: 12px;
    }

    .hero-three-one img {
        width: 80px;
        height: 80px;
    }

    .hero-two-one button {
        width: 88px;
        height: 26px;
        font-size: 12px;
    }

    .hero-three-one h3 {
        font-size: 12px;
    }

    .hero-three-one p {
        font-size: 8px;
    }

    .hero-three-two {
        margin-left: 30px;
    }

    .hero-three-two h2 {
        font-size: 12px;
    }

    .hero-three-two p {
        font-size: 10px;
    }

    .hero-three {
        display: flex;
        flex-wrap: wrap;
    }

    .footer h1 {
        font-size: 10px !important;
    }
}